/* //////////////////// Fonts: //////////////////// */
@font-face {
    font-family: "Montserrat-Regular";
    src: url('./Montserrat-Regular.woff2') format('woff2'),
         url('./Montserrat-Regular.woff') format('woff');
    /* font-weight: normal;
    font-style: normal; */
  }
@font-face {
    font-family: "Montserrat-Medium";
    src: url('./Montserrat-Medium.woff2') format('woff2'),
         url('./Montserrat-Medium.woff') format('woff');
    /* font-weight: normal;
    font-style: normal; */
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src: url('./Montserrat-SemiBold.woff2') format('woff2'),
         url('./Montserrat-SemiBold.woff') format('woff');
    /* font-weight: normal;
    font-style: normal; */
}



/* //////////////////// Product media: //////////////////// */
.product__media-wrapper > *:first-child > *:nth-child(2) {
    border-radius: 5px;
    overflow: hidden !important;
}
.product__media-list {
    border-radius: 5px;
    overflow: hidden;
}
.product__media {
    border-radius: 5px;
    overflow: hidden;
}

.thumbnail-slider .slider-button {
    display: none !important;
}

@media screen and (min-width: 750px) {
    .page-width .product {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        align-items: center;
    }
}

@media screen and (min-width: 990px) {
    .page-width {
        display: flex;
        justify-content: center;
    }

    .page-width .product {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 50px;
        align-items: center;
    }
    .product__media-wrapper {
        max-width: min-content !important;
    }
    .product__media-wrapper > *:first-child {
        display: flex;
        flex-direction: row-reverse;
        max-width: min-content !important;
    }
    .product__media-wrapper > *:first-child > *:nth-child(2) {
        width: 480px;
        height: 480px;
    }
    .product__media-container {
        width: 480px;
        height: 480px;
    }

    .thumbnail-slider {
        display: flex;
        flex-direction: column;
        padding: 15px;
        margin: 0;
        max-height: 480px;
        overflow: hidden;
    }
    .thumbnail-list {
        flex-direction: column;
        gap: 15px;
        min-width: 100px;
        padding: 5 !important;
    }
    .thumbnail-list__item {
        height: 100px !important;
        width: 100px !important;
    }
    .thumbnail-list__item button {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
        border-radius: 3px;
        overflow: hidden;
    }
}



/* //////////////////// Product info: //////////////////// */
.product__info-container {
    /* background: #FFFFFF 0% 0% no-repeat padding-box; */
    background-color: #FFFFFF;
    box-shadow: 0px 3px 20px #00000029;
    border: 1px solid #D5D5D5;
    border-radius: 5px;
    width: calc(100vw - 40px);
    padding: 26px 12px 25px 14px;
}
.product__info-container > * {
    margin: 0 !important;
}

.product__title h1 {
    font-family: "Montserrat-SemiBold", Arial, sans-serif;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0 !important;
    color: #000000;
    margin-bottom: 10px !important;
}

/* Weitere Elemente hinzufügen */
.product__description p {
    font-family: "Montserrat-Medium", Arial, sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0 !important;
    color: #000000;
    margin-bottom: 23px !important;
}

.custom-price-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0;
    margin-bottom: 21px !important;
}
.price__container {
    font-family: "Montserrat-SemiBold", Arial, sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0 !important;
    margin: 0;
}
.price__container .price-item--regular {
    color: #000000;
}
.price__container .price-item--sale {
    color: #1F47FF;
}
.price--show-badge .badge {
    display: none;
}
.product__tax {
    font-family: "Montserrat-Medium", Arial, sans-serif;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0 !important;
    color: #000000;
    margin: 0;
    position: relative;
    bottom: 7px;            /* ///// noch anpassen! ///// */
}

.product__inventory {
    font-family: "Montserrat-Medium", Arial, sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0 !important;
    color: #25A525;
    margin-bottom: 34px !important;
}

.product-form {
    width: 100%;
    margin: 0 !important;
}
.button {
    border: none;
    border-radius: 3px;
    height: 52px;
    width: 100%;
    --border-offset: 0px;
}
.button::after {
    border-radius: 3px;
    opacity: 0;
}
.button:hover::after, .button:focus::after {
    opacity: 1;
}
.product-form__buttons {
    min-width: 100%;
}
.product-form__buttons .product-form__submit {
    background-color: #1F47FF;
    margin: 0;
}
.product-form__buttons button span {
    font-family: "Montserrat-SemiBold", Arial, sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0 !important;
    color: #FFFFFF;
}

@media screen and (min-width: 750px) {
    .product__info-wrapper {
        display: flex;
        justify-content: center;
        padding: 0 !important;
    }

    .product__info-container {
        min-width: 475px;
        padding: 18px 23px 25px 28px;
    }

    .product__title h1 {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 12px !important;
    }

    /* Weitere Elemente hinzufügen */
    .product__description p {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 20px !important;
    }

    .custom-price-container {
        margin-bottom: 18px !important;
    }
    .price__container {
        font-size: 18px;
        line-height: 22px;
    }
    .product__tax {
        bottom: 7px;
    }

    .product__inventory {
        font-size: 15px;
        line-height: 19px;
        margin-bottom: 20px !important;
    }

    .product-form__buttons button span {
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (min-width: 990px) {
    .product__info-wrapper {
        display: flex;
        justify-content: flex-start;
        padding: 0 !important;
    }
}



/* Weitere Elemente hinzufügen */
.multicolumn-card h3 {
    font-family: "Montserrat-Medium", Arial, sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0 !important;
    color: #000000;
}
.multicolumn-card p {
    font-family: "Montserrat-Regular", Arial, sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #383838;
}

@media screen and (min-width: 750px) {
    .multicolumn-card h3 {
        font-family: "Montserrat-Medium", Arial, sans-serif;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0 !important;
        color: #000000;
    }
    .multicolumn-card p {
        font-family: "Montserrat-Regular", Arial, sans-serif;
        font-size: 18px;
        line-height: 22px;
        color: #383838;
    }
}